*{{#IsStatic}}static {{/IsStatic}}{{ReturnType.Name}} {{Name}}({{#Params}}{{Type}} {{Name}}{{^End}}, {{/End}}{{/Params}})*

{{#Location}}
*Defined at {{Location.Filename}}#{{Location.LineNumber}}*

{{/Location}}
