<nav class="navbar">
    <div class="navbar__container">
        {{#ProjectName}}
        <div class="navbar__logo">
            {{ProjectName}}
        </div>
        {{/ProjectName}}
        <div class="navbar__menu">
            <ul class="navbar__links">
                <li class="navbar__item">
                    <a href="{{Homepage}}" class="navbar__link">Home</a>
                </li>
            </ul>
        </div>
        {{#HasContexts}}
        <div class="navbar__breadcrumb__container">
            {{#Contexts}}
            <div class="navbar__breadcrumb-item"><a href="{{RelativePath}}{{#End}}GlobalNamespace/{{/End}}{{DocumentationFileName}}.html">{{Name}}</a></div>{{^End}}&rarr;{{/End}}
            {{/Contexts}}
        </div>
        {{/HasContexts}}
    </div>
</nav>
